{% extends "base.html" %}

{% block content %}
<h1>My Projects</h1>
<h2>Personal Website using Flask, CSS and HTML</h2>
<p>A multipage personal website built with Flask, HTML, and CSS. Pages are organized using Flask blueprints and share a common layout through Jinja template inheritance.Also, integrated navigation features, so the navigation bar highlights whichever page you're currently viewing.</p>
<a href="https://github.com/eooyebode-wq/jhu_software_concepts" target="_blank">View this project on GitHub</a>
{% endblock %}